body {
    font-family: "Garamond ";
    background-color: #f8f9fa;
}

h1, h2, h3, h4 {
    color: #333;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.7;
}

img {
    border-radius: 8px;
    margin-top: 15px;
}


.header {
    background-color: #212b3f;
    padding: 20px 0;
}

.nav-box {
    background-color: #4271d7;
    color: white;
    text-decoration: none;
    padding: 10px 22px;
    margin-right: 7px;
    border-radius: 9px;
    font-size: 17px;
    transition: 0.3s;
}

.nav-box:hover {
    background-color: #2449ad;
    color: white;
}


.banner {
    background-color: #212b3f;
    color: white;
    padding: 40px 0;
}

.banner h1 {
    color: white;
}

.banner p {
    color: rgba(255,255,255,0.8);
}

.banner img {
    max-width: 180px;
}


.team-card {
    background-color: white;
    border: 1.4px solid #ddd;
    border-radius: 15px;
    padding: 15px 10px;
}

.team-img {
    width: 120px;
    height: 120px;
    border-radius: 75%;
    object-fit: cover;
}


.process-step {
    border-top: 1px solid #ddd;
    padding: 16px 0;
    margin-bottom: 8px;
}

.process-step h3 {
    color: #333;
}
